:host {
  display: block;
  height: 100vh;
  width: 100%;
  position: relative;
}

.dashboard-content {
  position: absolute;
  top: 60px; /* Below navbar */
  height: calc(100% - 60px);
  background-color: #f7fafc;
  transition: all 0.3s ease-in-out;
}
